<div class="page" data-name="home">
    <div class="navbar">
      <div class="navbar-bg">
      <div class="navbar-inner sliding">
        <div class="title">mySandwich</div>
      </div>
      </div>
    </div>
     


    <div id="userList" class="content-block-inner"></div>

  </div>