<div class="page" data-name="catalog">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="title">Information</div>
    </div>
  </div>
  <div class="page-content">
    <div class="list">
      <ul>
        <li>
          <a href="/account/" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Account</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/orders/" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Orders</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/socials/" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Socials</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/maps/" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Maps</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/location/" class="item-content item-link">
            <div class="item-inner">
              <div class="item-title">Location</div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
