<div class="page" data-name="maps">
    <div class="navbar">
        <div class="navbar-bg"></div>
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon icon-back"></i>
                    <span class="if-not-md">Back</span>
                </a>
            </div>
            <div class="title">Maps</div>
        </div>
    </div>
    <div class="page-content">
        <div class="block-title">Don't know where our shop is?</div>
        <div class="block">

            <a href="" id="btnMaps" class="col button button-large button-fill button-raised color-green">Google Maps</a>

        </div>
    </div>
</div>