<div class="page" data-name="settings">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="title">Settings</div>
    </div>
  </div>
  <div class="page-content">
    
    <div class="list simple-list">
      <ul>
        <li>
          <span>Dark Theme</span>
          <label class="toggle toggle-init color-orange">
            <input type="checkbox" checked>
            <span class="toggle-icon"></span>
          </label>
        </li>
        <li>
          <span>Notifications</span>
          <label class="toggle toggle-init color-orange">
            <input type="checkbox">
            <span class="toggle-icon"></span>
          </label>
        </li>
      </ul>
    </div>

  </div>
</div>
