/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #ffaa00;
  --f7-theme-color-rgb: 255, 170, 0;
  --f7-theme-color-shade: #d68f00;
  --f7-theme-color-tint: #ffb829;
}

/* Invert navigation bars to fill style */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;
}
.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 255;
  --g: 170;
  --b: 0;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Your app custom styles here */


/*index*/
.block_inset {
padding-top: 50px;

}
.block-title {
  font-size: 24px;
  color: white;
  text-align: center;
  padding-top: 5%;
width: 60%;
margin-left: 20%;
height: 10%;
opacity: 0.5;

}
.block-title span {
  color: #dbce19;
}
.col-50 a {
  font-size: 18px;
}

.col-50{
 width: 40%;
 margin-left: 30%;
 margin-top: -5%;
}

/*register */
#btnRegister {
  width: 35%;
  margin-left: 35%;
}
#btnLogin{
  width: 35%;
  margin-left: 35%;
}


/*User page*/
#userList{
margin-top: 15%;

}
.block p {
  font-size: 16px;
}
.orderbutton{
  width: 25%;

}
.product-broodje{
  margin-left: 15%;
border-radius: 50%;
}

